files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      WSGIPassAuthorization On
      WSGIDaemonProcess wsgi processes=5 threads=15 display-name=%{GROUP} \
        python-path=/var/app/current \
        buffer-size=65535
      WSGIProcessGroup wsgi 